/* === FONTS === */
@font-face {
    font-family: "Hanken";
    src: url("../src/fonts/HankenGrotesk-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Hanken";
    src: url("../src/fonts/HankenGrotesk-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Hanken";
    src: url("../src/fonts/HankenGrotesk-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Hanken";
    src: url("../src/fonts/HankenGrotesk-Black.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Hanken";
    src: url("../src/fonts/HankenGrotesk-BlackItalic.ttf");
    font-weight: 800;
    font-style: italic;
}


/* === VARIABLES === */

:root{
    /* couleurs */
    --clr-green: #697565;
    --clr-orange: #EB5A3C;
    --clr-grey: #ADA991;
    --clr-grille: #CDCAB6;
    --clr-background: #F2EFE7;
    --clr-survol: #FEF9E1;
    /* marges */
    --main-margin: 25px;
    --half-margin: 12px;
    --large-margin: 45px;
    /* typo */
    --font-title: 25px;
    --font-menu: 15px;
    --font-about: 20px;
    --main-font-size: 14px; 
    --main-line-height: 17px;
    --about-line-height: 25px; 
}

/* === RESET === */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}